<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.manage.mapper.CourseResourceLogMapper">

    <insert id="insert" parameterType="com.ruoyi.manage.domain.CourseResourceLog" useGeneratedKeys="true" keyProperty="id">
        insert into tb_course_resource_log (resource_id, action, actor_id, actor_name, ip, user_agent, detail, result, create_by, create_time, del_flag)
        values (#{resourceId}, #{action}, #{actorId}, #{actorName}, #{ip}, #{userAgent}, #{detail}, #{result}, #{createBy}, #{createTime}, '0')
    </insert>

</mapper>

