<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.manage.mapper.NoticeScopeMapper">

    <resultMap id="ScopeResult" type="com.ruoyi.manage.domain.NoticeScope">
        <result property="id" column="id"/>
        <result property="noticeId" column="notice_id"/>
        <result property="scopeType" column="scope_type"/>
        <result property="refId" column="ref_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <insert id="insert" parameterType="com.ruoyi.manage.domain.NoticeScope" useGeneratedKeys="true" keyProperty="id">
        insert into tb_notice_scope(notice_id, scope_type, ref_id,
                                    create_by, create_time, update_by, update_time, del_flag)
        values (#{noticeId}, #{scopeType}, #{refId},
                #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, '0')
    </insert>

    <delete id="deleteByNoticeId" parameterType="long">
        delete
        from tb_notice_scope
        where notice_id = #{noticeId}
    </delete>

    <select id="selectByNoticeId" parameterType="long" resultMap="ScopeResult">
        select id,
               notice_id,
               scope_type,
               ref_id,
               create_by,
               create_time,
               update_by,
               update_time,
               del_flag
        from tb_notice_scope
        where notice_id = #{noticeId}
        order by id asc
    </select>

</mapper>

